{% if records %}
<div class="container dp-detailed">
    <!-- Header -->
    <div class="col-xs-12 dp-head">
        <h1><span class="dp-slug">{{records.slug}}:</span> {{records.title}}</h1>
    </div>

   <!-- Cover and intro -->
    <div class="row dp-cover-intro">
        <div class="col-md-4 col-xs-12">
            <img src="{{ records.cover_photo.path }}" class="card-img" alt="{{ records.title }}">
        </div>
        <div class="col-md-8 col-xs-12">
            <div><span class="dp-title">Main objective: </span> {{ records.main_objective | raw }}</div>
            <div><span class="dp-title">Expected outcome(s): </span> {{ records.expected_outcome | raw }}</div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="col-xs-12 dp-content">
        <div class="row">{{records.content | raw}}</div>   
    </div>

<!-- Partners -->
<div class="container dp-partners">
    <div class="row align-items-center db-row">

        <!-- Scientific Partners -->
        {% if records.scientific_partners.count > 0 %}
        <div class="col-sm-6 col-xs-12 d-flex flex-md-row flex-column align-items-center">
            <span class="dp-title">Scientific Partner:</span>
            {% for partner in records.scientific_partners %}
            <a href="{{ partner.instituion_url }}" target="_blank" class="ms-2">
                <img src="{{ partner.cover.path }}" alt="Partner Cover" class="partner-img img-fluid">
            </a>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Policy Partners -->
        {% if records.policy_partners.count > 0 %}
        <div class="col-sm-6 col-xs-12 d-flex align-items-center flex-md-row flex-column">
            <span class="dp-title">Policy Partner:</span>
            {% for partner in records.policy_partners %}
            <a href="{{ partner.instituion_url }}" target="_blank" class="ms-2">
                <img src="{{ partner.cover.path }}" alt="Partner Cover" class="partner-img img-fluid">
            </a>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>


</div>
<!-- If no records -->
{% else %}
    <p>No record found with this slug.</p>
{% endif %}
